@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --CartoonLime: #c4fd70;
    --BahamaBlue: #76ead7;
    --EasyBlack: #3b3e46;

    /* dark mode */
    --Cyclamen: #e86a92;
}

body {
    position: relative;
    margin: 0;
    color: var(--EasyBlack);
}

.dark-mode {
    background-color: var(--EasyBlack);
    color: #ffffff;
}

#navbarTurtle {
    margin: none;
    padding: none;
}

ul.topnav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--BahamaBlue);
}

.navbar-a {overflow: hidden;}

ul.topnav li {
    display: flex;
    float: left;
    height: fit-content;
}

ul.topnav li a {
    display: flex;
    color: var(--EasyBlack);
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: var(--CartoonLime);}

ul.topnav li.navRight {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown:hover:not(.active) {background-color: var(--CartoonLime)}
  
.dropdown .dropbtn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 14px 16px;
    border: none;
    outline: none;
    color: var(--EasyBlack);
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--CartoonLime);
    min-width: 112px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--EasyBlack);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

.dropdown-content a:hover {background-color: var(--BahamaBlue)}
  
.dropdown:hover .dropdown-content {display: block;}

.header {
    padding-top: 5%;
    padding-bottom: 10px;
    text-align: center;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 5rem;
}

.body {
    padding-left: 25%;
    padding-right: 25%;
    font-family: Source Sans Pro;
    font-weight: 500;
    font-size: 1.5rem;
}

#homeBody {text-align: center;}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--BahamaBlue);
    color: var(--EasyBlack);
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    margin-top: 100px;
 }

 #copyright {
    text-align: left;
    padding-left: 5%;
 }

 .fa {
    text-decoration: none;
    padding: 5px;
}

.fa-twitter {color: var(--EasyBlack);}
.fa-youtube-play {color: var(--EasyBlack);}
.fa-twitch {color: var(--EasyBlack);}

.unselectable, #unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right {
    text-align: right;
    padding-right: 10%;
}

.title {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 3.5rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

table.stable {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

hr.line {
    width: 50%;
    color: var(--CartoonLime);
    background-color: var(--CartoonLime);
    border: none;
    border-radius: 10px;
}

#fdiscord {
    color: var(--EasyBlack);
    font-weight: 600;
    text-decoration: none;
}

#fdiscord:hover {color: var(--CartoonLime);}